################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerReviewAnalysis
/CustomerReviewAnalysis/bin/Debug/net9.0
/CustomerReviewAnalysis/obj
